In [1]:
%pip install sentence_transformers ipywidgets einops datasets

Requirement already satisfied: sentence_transformers in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (3.4.1)
Requirement already satisfied: ipywidgets in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (8.1.5)
Requirement already satisfied: einops in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (0.8.1)
Requirement already satisfied: datasets in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (3.2.0)
Requirement already satisfied: transformers<5.0.0,>=4.41.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (4.47.1)
Requirement already satisfied: tqdm in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (4.67.1)
Requirement already satisfied: torch>=1.11.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (2.6.0)
Requirement already satisfied: scikit-learn in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (1.6.1)
Requirement already satisfied: scipy in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (1.15.1)
Requirement already satisfied: huggingface-hub>=0.20.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (0.27.1)
Requirement already satisfied: Pillow in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sentence_transformers) (11.0.0)
Requirement already satisfied: comm>=0.1.3 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipywidgets) (8.30.0)
Requirement already satisfied: traitlets>=4.3.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.12 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipywidgets) (4.0.13)
Requirement already satisfied: jupyterlab-widgets~=3.0.12 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipywidgets) (3.0.13)
Requirement already satisfied: filelock in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (3.16.1)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=15.0.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (19.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (2.2.3)
Requirement already satisfied: requests>=2.32.2 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (2.32.3)
Requirement already satisfied: xxhash in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2024.9.0,>=2023.1.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from fsspec[http]<=2024.9.0,>=2023.1.0->datasets) (2024.9.0)
Requirement already satisfied: aiohttp in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (3.11.10)
Requirement already satisfied: packaging in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from aiohttp->datasets) (1.18.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from huggingface-hub>=0.20.0->sentence_transformers) (4.12.2)
Requirement already satisfied: decorator in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack_data in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from requests>=2.32.2->datasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from requests>=2.32.2->datasets) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from requests>=2.32.2->datasets) (2024.12.14)
Requirement already satisfied: networkx in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from torch>=1.11.0->sentence_transformers) (3.4.2)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from torch>=1.11.0->sentence_transformers) (3.1.5)
Requirement already satisfied: sympy==1.13.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from torch>=1.11.0->sentence_transformers) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from sympy==1.13.1->torch>=1.11.0->sentence_transformers) (1.3.0)
Requirement already satisfied: regex!=2019.12.17 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from transformers<5.0.0,>=4.41.0->sentence_transformers) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from transformers<5.0.0,>=4.41.0->sentence_transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from transformers<5.0.0,>=4.41.0->sentence_transformers) (0.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from scikit-learn->sentence_transformers) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from scikit-learn->sentence_transformers) (3.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from jinja2->torch>=1.11.0->sentence_transformers) (3.0.2)
Requirement already satisfied: executing>=1.2.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (3.0.0)
Requirement already satisfied: pure_eval in /opt/anaconda3/envs/ml/lib/python3.11/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from sentence_transformers import SentenceTransformer
from pathlib import Path
import pandas as pd
import random
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from IPython.display import display
from collections import defaultdict
from tqdm import tqdm

In [3]:
# Load https://huggingface.co/sentence-transformers/all-mpnet-base-v2
cache_folder = Path.home() / "tmp_cache"
model = SentenceTransformer("all-mpnet-base-v2", cache_folder=cache_folder)

In [4]:
embeddings = model.encode([
    "The weather is lovely today.",
    "It's so sunny outside!",
    "He drove to the stadium.",
])

In [5]:
similarities = model.similarity(embeddings, embeddings)
similarities

tensor([[1.0000, 0.6817, 0.0492],
        [0.6817, 1.0000, 0.0421],
        [0.0492, 0.0421, 1.0000]])

Top original model for semantic search (see https://www.sbert.net/docs/sentence_transformer/pretrained_models.html)
multi-qa-mpnet-base-dot-v1

Multilingual semantic similarity model
distiluse-base-multilingual-cased-v1
https://huggingface.co/sentence-transformers/distiluse-base-multilingual-cased-v1

Instructor model (trained with instructions in mind)
hkunlp/instructor-large
https://huggingface.co/hkunlp/instructor-large

NV-Embed-v2
https://huggingface.co/nvidia/NV-Embed-v2

# Generate test data

In [6]:
# Sample data pools
first_names = ["Alice", "Bob", "Carlos", "Dmitry", "Emma", "Fatima", "George", "Hiroshi", "Isla", "Juan", "Katerina", "Luis", "Mikhail", "Natalia", "Omar", "Paula", "Quentin", "Ravi", "Sofia", "Tariq", "Ursula", "Victor", "Wei", "Xenia", "Yusuf", "Zara"]
last_names = ["Anderson", "Brown", "Chen", "Diaz", "Evans", "Fernández", "Gonzalez", "Hernandez", "Ivanov", "Johnson", "Kowalski", "Lopez", "Martinez", "Novikov", "O'Connor", "Petrov", "Quintero", "Rodriguez", "Sanchez", "Taylor", "Ulyanov", "Vega", "Wang", "Xiao", "Yamamoto", "Zhukov"]
job_titles = ["Data Scientist", "Software Engineer", "ML Engineer", "AI Researcher", "Financial Analyst", "Product Manager", "DevOps Engineer", "Cloud Architect", "Security Specialist", "QA Engineer", "Frontend Developer", "Backend Developer"]
seniorities = ["Junior", "Senior", "Lead", "Principal", "Staff", "Intern"]
locations = ["New York, NY", "San Francisco, CA", "London, UK", "Madrid, España", "Berlin, DE", "Москва, Россия", "Paris, FR", "Home Office", "HQ Building 3", "Sao Paulo, BR", "Toronto, CA"]
departments = ["AI", "Eng", "Finanzas", "R&D", "IT", "DevOps", "Infra", "Data", "CyberSec", "Маркетинг", "BizOps"]

# Function to introduce small variations (e.g., typos, abbreviations)
def introduce_variation(text):
    variations = [
        lambda t: t.replace("Engineer", "Eng."),  # Abbreviation
        lambda t: t.replace("Data", "D."),  # Shorten "Data"
        lambda t: t.lower() if random.random() < 0.1 else t,  # Random lowercase
        lambda t: t + " (remote)" if "Home Office" in text and random.random() < 0.5 else t,  # Clarify remote work
        lambda t: t.replace("Senior", "Sr.") if "Senior" in t else t,  # Abbreviate Senior
        lambda t: t + " " + random.choice(["Jr.", "II", "III"]) if "Intern" in t and random.random() < 0.3 else t,  # Add suffix to Interns
        lambda t: t.replace("Analyst", "Analista") if "Analyst" in t and random.random() < 0.2 else t,  # Spanish variation
        lambda t: t.replace("Manager", "Mgr.") if "Manager" in t and random.random() < 0.2 else t,  # Shorten Manager
        lambda t: t[:-1] + random.choice("xyz") if len(t) > 6 and random.random() < 0.05 else t,  # Introduce small typo
    ]
    return random.choice(variations)(text)

# Generate dataset
employees = []
for _ in range(100):
    first_name = random.choice(first_names)
    last_name = random.choice(last_names)
    name = f"{first_name} {last_name}"
    job_title = introduce_variation(f"{random.choice(seniorities)} {random.choice(job_titles)}")
    location = introduce_variation(random.choice(locations))
    department = introduce_variation(random.choice(departments))

    employees.append({"name": name, "job_title": job_title, "location": location, "department": department})

df = pd.DataFrame(employees)
df

                 name                    job_title        location department
0       Bob Hernandez           Senior QA Engineer      Berlin, DE      Infra
1           Zara Diaz       Junior DevOps Engineer      Berlin, DE        R&D
2   Hiroshi Hernandez  Principal Backend Developer      London, UK      Infra
3        Luis Novikov        Intern Data Scientist      Berlin, DE  Маркетинг
4       Carlos Petrov      Principal AI Researcher    New York, NY        R&D
..                ...                          ...             ...        ...
95        Juan Zhukov         Staff Data Scientist  Москва, Россия         IT
96        Juan Ivanov  Principal Software Engineer    New York, NY     DevOps
97      Ravi Gonzalez     Junior Financial Analyst  Москва, Россия      Infra
98    Ursula Quintero     Intern Backend Developer   Sao Paulo, Bx  Маркетинг
99      Ursula Ivanov        Principal ML Engineer       Paris, FR   CyberSec

[100 rows x 4 columns]

In [7]:
df['text'] = "Job title: " + df['job_title'] + "\nLocation: " + df['location'] + "\nDepartment: " + df['department']

In [8]:
print(df['text'][0])

Job title: Senior QA Engineer
Location: Berlin, DE
Department: Infra

In [9]:
questions = [
    "Who are the senior engineers working in NY?",
    "Find me all data scientists in London HQ",
    "People in AI dept. working remotely?",
    "Is there any anaylst in Madrid?",
    "Show all engs in SF office",
    "Lista de empleados en Finanzas en México",
    "Кто работает в отделе ИИ в Москве?",
    "Software devs in EU, any location",
    "Any Sr. Analyst in the Finance dept?",
    "Who’s working in AI at the Berlin office?",
    "Data scientists in remote, any country",
    "List of engineers in building 12?",
    "Can you find me a ML eng in US?",
    "Who are the people working in IT at Paris HQ?",
    "Finance folks in LatAm region?",
    "Empleados en el depto de ingeniería en Argentina",
    "Senior managers in tech, UK or Germany",
    "All ppl in eng, except remote",
    "Кто в Лондоне в отделе Финансов?",
    "Are there any junior devs in Madrid?"
]

In [10]:
model_names = [
    "multi-qa-mpnet-base-dot-v1",
    "distiluse-base-multilingual-cased-v1",
    "hkunlp/instructor-large",
    # "nvidia/NV-Embed-v2", # This model requires a lot of memory
    "Alibaba-NLP/gte-Qwen2-1.5B-instruct"
]

models = {name: SentenceTransformer(name, cache_folder=cache_folder, trust_remote_code=True) for name in model_names}

The argument `trust_remote_code` is to be used with Auto classes. It has no effect here and is ignored.
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/284 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/145k [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/55.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/901 [00:00<?, ?B/s]

modeling_qwen.py:   0%|          | 0.00/65.2k [00:00<?, ?B/s]

A new version of the following files was downloaded from https://huggingface.co/Alibaba-NLP/gte-Qwen2-1.5B-instruct:
- modeling_qwen.py
. Make sure to double-check they do not contain any added malicious code. To avoid downloading new versions of the code file, you can pin a revision.

model.safetensors.index.json:   0%|          | 0.00/27.8k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/2 [00:00<?, ?it/s]

model-00001-of-00002.safetensors:   0%|          | 0.00/4.99G [00:00<?, ?B/s]

model-00002-of-00002.safetensors:   0%|          | 0.00/2.11G [00:00<?, ?B/s]

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

tokenizer_config.json:   0%|          | 0.00/1.31k [00:00<?, ?B/s]

tokenization_qwen.py:   0%|          | 0.00/10.8k [00:00<?, ?B/s]

A new version of the following files was downloaded from https://huggingface.co/Alibaba-NLP/gte-Qwen2-1.5B-instruct:
- tokenization_qwen.py
. Make sure to double-check they do not contain any added malicious code. To avoid downloading new versions of the code file, you can pin a revision.

vocab.json:   0%|          | 0.00/2.78M [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/1.67M [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/7.03M [00:00<?, ?B/s]

added_tokens.json:   0%|          | 0.00/80.0 [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/370 [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/297 [00:00<?, ?B/s]

In [19]:
def get_top_matches():
    top_matches = defaultdict(dict)
    for model_name, model in tqdm(models.items()):
        # Encode the questions and the text column
        question_instruction = "Represent search query for retrieval of employee contacts: " if model_name == "hkunlp/instructor-large" else None
        question_embeddings = model.encode(questions, prompt=question_instruction, show_progress_bar=True)

        text_instruction = "Represent employee attributes for retrieval: " if model_name == "hkunlp/instructor-large" else None
        text_embeddings = model.encode(df['text'].tolist(), prompt=text_instruction, show_progress_bar=True)

        # Compute cosine similarity
        cosine_similarities = cosine_similarity(question_embeddings, text_embeddings)

        # Retrieve top 5 matches for each question
        for i, question in enumerate(questions):
            top_indices = np.argsort(cosine_similarities[i])[::-1][:5]
            top_similarities = cosine_similarities[i][top_indices]
            top_matches[question][model_name] = (df.iloc[top_indices], top_similarities)

    return top_matches

top_matches = get_top_matches()

  0%|          | 0/4 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/4 [00:00<?, ?it/s]

 25%|██▌       | 1/4 [00:05<00:17,  5.77s/it]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/4 [00:00<?, ?it/s]

 50%|█████     | 2/4 [00:10<00:10,  5.21s/it]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/4 [00:00<?, ?it/s]

 75%|███████▌  | 3/4 [00:17<00:05,  5.98s/it]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/4 [00:00<?, ?it/s]

100%|██████████| 4/4 [03:24<00:00, 51.15s/it]

In [21]:
def display_top_matches(top_matches):
    # Display the results
    for question, results in top_matches.items():
        print(f"Question: {question}\n")
        for model_name, (matches, similarities) in results.items():
            print(f"Model: {model_name}\n")
            matches = matches.copy()
            matches['cosine_similarity'] = similarities
            display(matches[['name', 'job_title', 'location', 'department', 'cosine_similarity']].style.set_table_styles(
                [{'selector': 'th', 'props': [('font-size', '120%'), ('text-align', 'center')]},
                {'selector': 'td', 'props': [('font-size', '110%'), ('text-align', 'center')]}]
            ).set_properties(**{'background-color': 'lightyellow'}, subset=['cosine_similarity']))
        print("\n" + "="*80 + "\n")

display_top_matches(top_matches)

Question: Who are the senior engineers working in NY?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Find me all data scientists in London HQ

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: People in AI dept. working remotely?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Is there any anaylst in Madrid?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Show all engs in SF office

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Lista de empleados en Finanzas en México

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Кто работает в отделе ИИ в Москве?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Software devs in EU, any location

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Any Sr. Analyst in the Finance dept?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Who’s working in AI at the Berlin office?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Data scientists in remote, any country

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: List of engineers in building 12?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Can you find me a ML eng in US?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Who are the people working in IT at Paris HQ?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Finance folks in LatAm region?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Empleados en el depto de ingeniería en Argentina

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Senior managers in tech, UK or Germany

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: All ppl in eng, except remote

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Кто в Лондоне в отделе Финансов?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

Question: Are there any junior devs in Madrid?

Model: multi-qa-mpnet-base-dot-v1

Model: distiluse-base-multilingual-cased-v1

Model: hkunlp/instructor-large

Model: Alibaba-NLP/gte-Qwen2-1.5B-instruct

================================================================================

In [27]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from IPython.display import display

# Encode the questions and the text column
question_embeddings = model_multi_qa.encode(questions)
text_embeddings = model_multi_qa.encode(df['text'].tolist())

# Compute cosine similarity
cosine_similarities = cosine_similarity(question_embeddings, text_embeddings)

# Retrieve top 5 matches for each question
top_matches = {}
for i, question in enumerate(questions):
    top_indices = np.argsort(cosine_similarities[i])[::-1][:5]
    top_similarities = cosine_similarities[i][top_indices]
    top_matches[question] = (df.iloc[top_indices], top_similarities)

# Display the results
for question, (matches, similarities) in top_matches.items():
    matches = matches.copy()
    matches['cosine_similarity'] = similarities
    print(f"Question: {question}\n")
    display(matches[['name', 'job_title', 'location', 'department', 'cosine_similarity']].style.set_table_styles(
        [{'selector': 'th', 'props': [('font-size', '120%'), ('text-align', 'center')]},
         {'selector': 'td', 'props': [('font-size', '110%'), ('text-align', 'center')]}]
    ).set_properties(**{'background-color': 'lightyellow'}, subset=['cosine_similarity']))
    print("\n" + "="*80 + "\n")

Question: Who are the senior engineers working in NY?

================================================================================

Question: Find me all data scientists in London HQ

================================================================================

Question: People in AI dept. working remotely?

================================================================================

Question: Is there any anaylst in Madrid?

================================================================================

Question: Show all engs in SF office

================================================================================

Question: Lista de empleados en Finanzas en México

================================================================================

Question: Кто работает в отделе ИИ в Москве?

================================================================================

Question: Software devs in EU, any location

================================================================================

Question: Any Sr. Analyst in the Finance dept?

================================================================================

Question: Who’s working in AI at the Berlin office?

================================================================================

Question: Data scientists in remote, any country

================================================================================

Question: List of engineers in building 12?

================================================================================

Question: Can you find me a ML eng in US?

================================================================================

Question: Who are the people working in IT at Paris HQ?

================================================================================

Question: Finance folks in LatAm region?

================================================================================

Question: Empleados en el depto de ingeniería en Argentina

================================================================================

Question: Senior managers in tech, UK or Germany

================================================================================

Question: All ppl in eng, except remote

================================================================================

Question: Кто в Лондоне в отделе Финансов?

================================================================================

Question: Are there any junior devs in Madrid?

================================================================================